<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Todo List</title>
    <style>
        .completed { text-decoration: line-through; }
    </style>
</head>
<body>
    
    <div id="app">
        <ul>
            <input type="text" v-model="newToDo" v-on:keyup.enter="addToDo">
            <li v-if="!todos.length">Belum ada tugas</li>
            <li v-for="todo in todos">
                <span v-bind:class="{'completed': (typeof todo.done === 'string') ? parseInt(
                    todo.done) : todo.done}">{{ todo.text }}</span>
                <button v-on:click="removeToDo($index, todo.id_date)"> X </button>
                <button v-on:click="toggleC(todo)"> DONE </button>
            </li>
        </ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.25/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.9.0/vue-resource.min.js"></script>
    <script>
        new Vue({
            el: '#app', 
            data: {
                newToDo: '',
                todos  : [],
                done   : false
            }, 
            methods: {
                addToDo: function() {
                    var newItem = this.newToDo.trim()
                    if (newItem) {
                        this.todos.push({text: newItem, done: false})
                        this.newToDo = ''                        
                    }         

                    this.$http({
                        url: 'api/index.php', 
                        method: 'POST',
                        body: {
                            text: newItem, 
                            done: false, 
                            date: Date.now()
                        }
                    }).then((response) => {
                        console.log(response)
                    });

                }, 
                removeToDo: function(index, id_date) {
                    this.todos.splice(index, 1)       
                    // console.log(id_date)

                    this.$http({
                        url: 'api/index.php?id_date=' + id_date, 
                        method: 'DELETE'
                    }).then((response) => {
                        // kalau mau sukses ngapain
                    })
                }, 
                toggleC: function(todo) {
                    (todo.done == 0) ? todo.done = false : true
                    todo.done = !todo.done

                    this.$http({
                        url: 'api/index.php?id=' + todo.id_date + '&done=' + todo.done,
                        method: 'PATCH'
                    }).then((response) => {
                        console.log(response)
                    })
                }
            },
            ready: function() {
                this.$http({
                    url : 'api/index.php',
                    method: 'GET',
                }).then((response) => {
                    console.log(response);                        
                    this.todos = response.data
                });
            }
        })

        Vue.http.options.emulateJSON = true; // mengizinkan melakukan pengiriman menggunakan JSON

    </script>
</body>
</html>